@import url('https://fonts.googleapis.com/css2?family=Saira+Stencil+One&family=Saira:wght@300;400;500;600;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1 {
  font-family: 'Saira Stencil One', cursive;
  font-weight: 400;
  font-size: 55px;
  color: blue;
}

button {
  border: none;
  font-weight: 500;
  padding: 8px 20px;
  border-radius: 20px;
  font-size: 20px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: 'Saira', sans-serif;
  height: 100vh;
}


.timer {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 70px;

  .time {
    color: #333;
    display: flex;
    padding: 1rem;
    align-items: center;
    min-width: 180px;
    font-weight: 600;
  }

  .separator {
    color: #333;
    display: flex;
    align-items: center;

  }
}

.buttons {
  margin-top: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

}

.btn {
  border: 1px solid #333;
  background-color: transparent;
  color: rgb(40, 180, 180);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.btn:hover {
  color: white;
  background-color: blue;
  transform: scale(1.1);
}

#startBtn {
  color: white;
  background-color: blue;
}

#pauseBtn, #resumeBtn {
  display: none;
}